@font-face {
    font-family: headings;
    src: url(../fonts/Montserrat-ExtraBoldItalic.ttf);
  }

  @font-face {
    font-family: texts;
    src: url(../fonts/Montserrat-ExtraLightItalic.ttf);
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

