@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 80vw;
}

p {
    font-size: 1em;
    border: 2px solid #7337ff;
    padding: 2em;
}

img {
    width: 80%;
}

@media only screen and (max-width: 1100px) {
    .container {
        flex-direction: column-reverse;
    }
}