@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body, input {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.login {
    font-size: 2em;
    padding-bottom: 1em;
}

.title {
    text-align: center;
    padding: 1em 1em 0 1em;
    color: #7337ff;
    letter-spacing: 2px;
    font-size: 2.5em;
   
}

i {
    color: #7337ff;
    padding-right: 0.5em;
}

.field-input{
    padding: 0.5em;
    padding-bottom: 2em;
}

input {
    padding: 1em;
    border: none;
    height: 4em;
    background-color: transparent;
    width: 20vw;
    border-bottom: 2px solid #7337ff;
}

.field-container {
    width: 100%;
    padding: 0 1em 0 1em;
    text-align: center;
    
}



.form-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 100%;
    border:  2px solid #7337ff;
}


img{
    width: 70%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    height: 70vh;
    width: 80%;
    padding-top: 5em;
}

.login-btn, .signup-btn {
    font-family: 'Poppins', sans-serif;
    border: none;
    background: #7337ff;
    height: 3em;
    width: 20vw;
    transition: 250ms ease;
}

button:hover {
    background: transparent;
    border: 2px solid #7337ff;
    color: #7337ff;
}

a {
    padding: 1em;
}

.big-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

.image {
    z-index: -49;
}

.sign-up {
    position: absolute;
    bottom: -15%;
    text-align: center;
}




@media only screen and (max-width: 1230px) {
    input {
      width: 70% ;
    }

    .login{
        padding-bottom: 0%;
    }

    .form-container {
        width: 80vw;
        height: 90vh;
    }

    .container {
        flex-direction: column-reverse;
    }

    .title {
        padding-bottom: 1em;
        font-size: 2em;
    }

    img {
        width: 60%;
    }

    .sign-up {
        bottom: -30%;
    }

    img {
        
        z-index: -10;
    }

  }

  @media only screen and (max-width: 750px) {
    .sign-up {
        bottom: -25%;
    }

  

}