@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}


body {
    height: 100vh;
}

h1{
    text-align: center;
    padding-top: 1em;
}

.RGP, .NRGP {
    width: 50vw;
}

h2, h3 {
    width: 100%;
    text-decoration: underline;
    
}

.RGP {
    border-right: 2px solid #7337ff;
}

.NRGP {
    border-left: 2px solid #7337ff;
}


table {
   border-collapse: collapse;
   margin: 4em;
}

td, th  {
    background-color: #7337ff;
    color: white;
    cursor: pointer;
    border:  2px solid #ffffff;
    padding: 1em;
    transition: 150ms ease;
}

td:hover, th:hover {
    color: #7337ff;
    background-color: white;
}

.in, .out {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
}



@media only screen and (max-width: 800px){
    .container {
        flex-direction: column;
        
    }
    .NRGP {
        border: 0px;
        border-top: 3px solid #7337ff;
    }
    .RGP {
        border: 0px;
        border-bottom: 2px solid #7337ff;
    }

    table {
        margin: 1em;
        width: 100%;
    }

    
}