@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

i {
    padding-right: 0.5em;
    color: #7337ff;
}



.dash{
    text-decoration: underline;
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: 900;
    font-size: 2em;
    align-self: center;
}


nav {
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}



li {
    width: 30vw;
    padding-right: 1em;
    list-style: none;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    transition: 150ms ease;
}

.dashboard {
    
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50vw;
}

.container {
    color: white;
    background-color: #7337ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

#white {
    color: white;
}

#purple {
    color: #7337ff;
}

.requests, .returns, .dispatches {
    height: 15vh;
    width: fit-content;
}


.requests > li, .dispatches > li, .returns > li {
    text-align: left;
    padding: 0 1em 0 1em;
}

.issue-container{
    background-color: white;
    color: #7337ff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.issues {
    text-align: left;
}

/* ANIMATION */

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #7337ff;
    margin: 2px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .options {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    
    .options {
        position: fixed;
        right: 0px;
        height: 90vh;
        top: 7vh;
        background-color: #ffffff;
        color: #7337ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }
    
    .options li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(5px , 6px);
}