@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 40%;
}

.big-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: none;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: #7337ff;
    padding-right: 1em;
}

.form-container {
    border: 2px solid #7337ff;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

#RGP, #NRGP {
    width: initial;
}

span {
    display: flex;
    
}

#type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    height: 6vh;
    width: 80%;
    padding: 2px;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}


.field-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-bottom: 2px solid #7337ff;
    height: 8vh;
    width: 80%;
}

.photo > button {
    border: 2px solid #7337ff;
    background-color: transparent;
    transition: 250ms ease;
}

#camera > input {
        display: flex;
        justify-content: center;
        align-items: center;
        height: initial;
}

p {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hide , #show {
    height: 1em;
}

button {
    height: 4em;
    width: 10vw;
    border: 2px solid #7337ff;
    background-color: transparent;
    transition: 250ms ease;
}

button:hover, .upload:hover {
    background-color: #7337ff;
    color: white;
}

a {
    padding-top: 2em;
}

.upload {
    border: 2px solid #7337ff;
        background-color: white;
        color: #7337ff;
        padding: 0.5rem;
        cursor: pointer;
        height: 100%;
        width: 25vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 250ms ease;
  }




#camera.field-input {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1176px) {
    .big-container {
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .form-container {
        width: 80%;
    }


    img {
        display: none;
    }
}