@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.login {
    font-size: 2em;
    padding-bottom: 1em;
}

.title {
    text-align: center;
    padding: 1em 1em 0 1em;
    color: #7337ff;
    letter-spacing: 2px;
    font-size: 2.5em;
    
}

button:hover {
    background: transparent;
    border: 2px solid #7337ff;
    color: #7337ff;
}

i {
    color: #7337ff;
    padding-right: 0.5em;
}

.field-input{
    text-align: center;
    width: 80%;
    padding: 0.5em;
    padding-bottom: 2em;
}

input {
    padding: 1em;
    border: none;
    height: 4em;
    background-color: transparent;
    width: 20vw;
    border-bottom: 2px solid #7337ff;
}


img {
    max-width: 50%;
}

.login-btn, .signup-btn {
    font-family: 'Poppins', sans-serif;
    border: none;
    background: #7337ff;
    height: 3em;
    width: 20vw;
    transition: 250ms ease;
}

a {
    padding: 1em;
}

.img-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #7337ff;
}

.container{
    width: 80vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-in {
    position: absolute;
    bottom: -40%;
    text-align: center;
}



@media only screen and (max-width: 1230px) {
    input {
      width: 90% ;
    }

    .login{
        padding-bottom: 0%;
    }

    .form-container {
        width: 80vw;
        height: 50vh;
    }

    .container {
        flex-direction: column-reverse;
    }

    .title {
        padding-bottom: 1em;
        font-size: 2em;
    }

    img {
        width: 60%;
    }

    
  }

 