@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 80vw;
}

p {
    font-size: 1.3em;
    
}

i {
    color: #7337ff;
    padding-right: 0.5em;
}

.login-btn {
    font-family: 'Poppins', sans-serif;
    border: none;
    background: #7337ff;
    height: 3em;
    width: 20vw;
    transition: 250ms ease;
}

.field-input{
    padding: 0.5em;
    padding-bottom: 2em;
}

input {
    padding: 1em;
    border: none;
    height: 4em;
    background-color: transparent;
    width: 20vw;
    border-bottom: 2px solid #7337ff;
}

.field-container {
    width: 100%;
    padding: 0 1em 0 1em;
    text-align: center;
    
}

button:hover {
    background: transparent;
    border: 2px solid #7337ff;
    color: #7337ff;
}

img {
    width: 80%;
}

.form-container {
    width: 50vw;
    height: 50vh;
    border: 2px solid #7337ff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1060px) {
    .container {
        flex-direction: column;
    }
    img {
        width: 50vw;
    }

    .form-container {
        width: 80%;
    }

    input{
        width: 80%;
    }

}